</div>
<div class="footerBottomSection">
    <div class="container ">
        &copy; 2017, Tây Đô Technology, All right reserved.
        <a href="/terms-and-conditions-of-use">Terms</a> |
        <a href="privacy-policy">Privacy Policy</a> |
        <a href="/contact-us">Contact us</a>
    </div>
</div>

<script type="text/javascript" charset="utf-8" src="/themes/js/upload.js"></script>
<!-- <script type="text/javascript" charset="utf-8" src="/themes/js/info-app.js"></script> -->
<script type="text/javascript" charset="utf-8" src="/themes/js/appscroll.js"></script>
<!--Start of Tawk.to Script-->
<!-- <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
    (function() {
        var s1 = document.createElement("script"),
            s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/599d07604fe3a1168ead9535/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script> -->
<!--End of Tawk.to Script-->
</body>

</html>