<% include ./../headerdetail %>
    <div class="xcontent clsmenu">
        <div id="title-detail" class="row row1">
            <div id="title-appversion" class="content-title-detail has-feedback">
                <span class="textmyapp">App Setting</span>
                <span class="setsearch">
                    <input type="text" onkeyup="searchappversion()" id="inputsearchapp1" name="search" placeholder="Search...">
                    <span class="form-control-feedback2" aria-hidden="true">
                        <img src="/themes/img/dashboard/iconsearch.png">
                    </span>
                </span>
            </div>
        </div>

    </div>
    </div>
    </div>
    </div>