<% include ./../headerdetail %>
    <link rel="stylesheet" type="text/css" href="/themes/css/dashboard/appsetting/appsetting.css">
    <div class="xcontent clsmenu">
        <div id="title-detail" class="row row1">
            <div id="title-appversion" class="content-title-detail has-feedback">
                <span class="textmyapp">App Setting</span>
                <span class="setsearch">
                    <input type="text" onkeyup="searchappversion()" id="inputsearchapp1" name="search" placeholder="Search...">
                    <span class="form-control-feedback2" aria-hidden="true">
                        <img src="/themes/img/dashboard/iconsearch.png">
                    </span>
                </span>
            </div>
        </div>
        <div class="row row1">
            <div id="content-appsetting">
                <div class="col-sm-6 ">
                    <div class="form-group has-feedback">
                        <label class="control-label" for="inputSuccess2">Application Name *</label>
                        <input type="text" class="resetinputlogin" id="register-firstname" name="firstname" aria-describedby="inputSuccess2Status">
                        <span class="form-control-feedback" aria-hidden="true">
                            <img class="seticoneye iconerr icon" id="iconerr1" src="" alt="">
                        </span>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label" for="inputSuccess2">Last Name *</label>
                        <input type="text" class="resetinputlogin" id="register-lastname" name="lastname" aria-describedby="inputSuccess2Status">
                        <span class="form-control-feedback" aria-hidden="true">
                            <img class="seticoneye iconerr icon" id="iconerr2" src="" alt="">
                        </span>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label" for="inputSuccess2">Username *</label>
                        <input type="text" class="resetinputlogin" id="register-username" name="username" aria-describedby="inputSuccess2Status">
                        <span class="form-control-feedback" aria-hidden="true">
                            <img class="seticoneye iconerr icon" id="iconerr3" src="" alt="">
                        </span>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label" for="inputSuccess2">Email *</label>
                        <input type="text" class="resetinputlogin" id="register-email" name="email" aria-describedby="inputSuccess2Status">
                        <span class="form-control-feedback" aria-hidden="true">
                            <img class="seticoneye iconerr icon" id="iconerr4" src="" alt="">
                        </span>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label" for="inputSuccess2">Password *</label>
                        <input type="password" name="pass" id="register-pass" class="resetinputlogin" aria-describedby="inputSuccess2Status" placeholder="Please enter at least 6 characters">
                        <span class="form-control-feedback" aria-hidden="true">
                        </span>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label" for="inputSuccess2">Confirm Password *</label>
                        <input type="password" class="resetinputlogin" id="register-comfirmpass" name="comfirmpass" aria-describedby="inputSuccess2Status">
                        <span class="form-control-feedback" aria-hidden="true">
                            <img class="seticoneye iconerr icon" id="iconerr6" src="" alt="">
                        </span>
                    </div>
                </div>
                <div class="col-sm-6">

                </div>

            </div>
        </div>
    </div>
    </div>
    </div>
    </div>