<% include header%>
    <!-- <div id="loading" style="display:none"></div> -->
    <div class="container">
        <div class="stepProcess">
            <ul class="steps">
                <li class="step completed">
                    <div class="step-info">
                        <span class="step-name">Upload Source</span>
                    </div>
                </li>

                <li class="step completed">
                    <div class="step-info">
                        <span class="step-name">Setting Your App</span>
                    </div>
                </li>
                <li class="step completed">
                    <div class="step-info">
                        <span class="step-name">Choose Platforms</span>
                    </div>
                </li>
                <li class="step active">
                    <div class="step-info">
                        <span class="step-name">Customization</span>
                    </div>
                </li>

            </ul>
        </div>
        <div class="row">
            <div class="col-md-12 info-build-content">
                <div class="title-build-ios">
                    <span class="text-custom-build">Deploy iOs Application</span>
                </div>

                <div class="info-form-builds">
                    <!-- Open form -->
                    <form class="form" method="POST">
                        <div class="row">
                            <input type="hidden" id="keyID" name="keyID" value="<%=sKeyFolder%>">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="pn-head-ios panel-heading ">
                                        <div class="panel-title pn-title">
                                            <span>App to the Testing</span>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group has-feedback">
                                            <div class="title-choose-file-provision">
                                                <label class="control-label label-input-file"> iOS Provisioning Profiles (Distribution) - Ad Hoc</label>
                                            </div>
                                            <div class="">
                                                <label class="custom-file-upload">
                                                        <!-- <i class="fa fa-cloud-upload"></i>  -->
                                                        <input class="form-control input-file-build-ios input-form-info " type="file" displaytext="adhoc" id="provision-adhoc" name="provision-adhoc" value="" accept=".mobileprovision"/>
                                                     <img  src="/themes/img/icon-choose-file.png" class="img-choose-file-ios" alt="choose file"> &nbsp; <span  class="text-choose-file"> Choose a File</span>
                                                </label>
                                                <span class="extnamefile" id="text-file-profile-adhoc">&nbsp;&nbsp;*.mobileprovision</span>
                                            </div>
                                            <div class=""> <a class="text-link-getthis" target="_blank" href="/guide/create-ad-hoc-provision-file">
                                                How to get this?
                                            </a></div>
                                            <span id="icon-err-adhoc" class="glyphicon glyphicon-remove form-control-feedback display-none"></span>
                                        </div>
                                        <div class="form-group has-feedback ">
                                            <div class="title-choose-file">
                                                <label class="control-label label-input-file"> iOS Certifidate</label>
                                            </div>
                                            <div class="desc-choose-file"> <span class="note-certificate-ios">What's the use iOS Certifidate of App to the App Store. </span></div>

                                            <div class="">
                                                <label class="custom-file-upload">
                                                        <input class="form-control input-file-build-ios input-form-info" type="file" displaytext="certificate" id="certificate-file-adhoc" name="certificate-file-adhoc" value=""  accept=".p12"/>
                                                        <img src="/themes/img/icon-choose-file.png" class="img-choose-file-ios" alt="choose file"> &nbsp; <span  class="text-choose-file"> Choose a File</span> 
                                                </label>
                                                <span class="extnamefile" id="text-file-certificate-adhoc">&nbsp;&nbsp;*.p12</span>
                                            </div>
                                            <div class=""> <a class="text-link-getthis" target="_blank" href="/guide/create-a-p12-certificate">
                                             How to get this?
                                            </a></div>

                                            <span id="icon-err-certificate-adhoc" class="glyphicon glyphicon-remove form-control-feedback display-none"></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="form-group form-group-email has-feedback input-error">
                                    <label class="control-label"> Email * </label>
                                    <div class="">
                                        <input class="form-control input-form-info" type="text" id="email" displaytext="Email" name="email" value="hieu.ric@gmail.com" />
                                        <span id="icon-err-email" class="glyphicon glyphicon-remove form-control-feedback display-none"></span>
                                    </div>
                                </div>
                                <div class="form-group has-feedback input-error">
                                    <label class="control-label"> Mobile provision to test *</label>
                                    <div class="">
                                        <input class="form-control input-file-build-ios input-form-info " type="file" displaytext="adhoc" id="provision-adhoc" name="provision-adhoc" value="" />
                                        <a href="/guide/generate-provision-file-ad-hoc-build-ios">How to get this?</a>
                                    </div>

                                    <span id="icon-err-adhoc" class="glyphicon glyphicon-remove form-control-feedback display-none"></span>
                                </div>
                                <div class="form-group has-feedback input-error">
                                    <label class="control-label"> Certifidate file(.p12) to test*</label>
                                    <div class="">
                                        <input class="form-control input-file-build-ios input-form-info" type="file" displaytext="certificate" id="certificate-file-adhoc" name="certificate-file-adhoc" value="" />
                                        <a href="/guide/generate-certificate-p12-build-ios">How to get this?</a>
                                    </div>

                                    <span id="icon-err-certificate-adhoc" class="glyphicon glyphicon-remove form-control-feedback display-none"></span>
                                </div> -->


                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="pn-head-ios panel-heading ">
                                        <div class="panel-title pn-title "><span> App to the App Store</span></div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group has-feedback">
                                            <div class="title-choose-file-provision">
                                                <label class="control-label label-input-file"> iOS Provisioning Profiles (Distribution) - App Store</label>
                                            </div>
                                            <div class="">
                                                <label class="custom-file-upload">
                                                                <!-- <i class="fa fa-cloud-upload"></i>  -->
                                                                <input class="form-control input-file-build-ios input-form-info" type="file" displaytext="appstore" id="provision-appstore" name="provision-appstore" value="" accept=".mobileprovision"/>
                                                             <img src="/themes/img/icon-choose-file.png" class="img-choose-file-ios" alt="choose file"> &nbsp; <span  class="text-choose-file"> Choose a File</span>
                                                        </label>
                                                <span class="extnamefile" id="text-file-profile-appstore">&nbsp;&nbsp;*.mobileprovision</span>
                                            </div>
                                            <div class="">
                                                <a class="text-link-getthis" href="/guide/create-app-store-provision-file" target="_blank">
                                                       How to get this?
                                                    </a>
                                            </div>
                                            <span id="icon-err-adhoc" class="glyphicon glyphicon-remove form-control-feedback display-none"></span>
                                        </div>
                                        <div class="form-group has-feedback ">
                                            <div class="title-choose-file">
                                                <label class="control-label label-input-file"> iOS Certifidate </label>
                                            </div>
                                            <div class="desc-choose-file"><span class="note-certificate-ios">What's the use iOS Certifidate of App to the Testing. </span></div>
                                            <div class="input-choose-file">
                                                <label class="custom-file-upload">
                                                        <input class="form-control  input-file-build-ios input-form-info" type="file" displaytext="certificate" id="certificate-file-appstore" name="certificate-file-appstore" value="" accept=".p12" />
                                                                <img src="/themes/img/icon-choose-file.png" class="img-choose-file-ios" alt="choose file"> &nbsp; <span  class="text-choose-file"> Choose a File</span> 
                                                        </label>
                                                <span class="extnamefile" id="text-file-certificate-appstore">&nbsp;&nbsp;*.p12</span>
                                            </div>
                                            <div class=""> <a class="text-link-getthis" target="_blank" href="/guide/create-a-p12-certificate">
                                             How to get this?
                                            </a></div>

                                            <span id="icon-err-certificate-adhoc" class="glyphicon glyphicon-remove form-control-feedback display-none"></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="form-group has-feedback input-error">
                                    <label class="control-label"> Mobile provision to upload app store *</label>
                                    <div class="">
                                        <input class="form-control input-file-build-ios input-form-info" type="file" displaytext="appstore" id="provision-appstore" name="provision-appstore" value="" />
                                        <a href="/guide/generate-provision-file-app-store-build-ios">How to get this?</a>
                                    </div>

                                    <span id="icon-err-appstore" class="glyphicon glyphicon-remove form-control-feedback display-none"></span>
                                </div>
                                <div class="form-group has-feedback input-error">
                                    <label class="control-label"> Certifidate file(.p12) to app store *</label>
                                    <div class="">
                                        <input class="form-control  input-file-build-ios input-form-info" type="file" displaytext="certificate" id="certificate-file-appstore" name="certificate-file-appstore" value="" />
                                        <a href="/guide/generate-certificate-p12-build-ios">How to get this?</a>
                                    </div>
                                    <span id="icon-err-certificate-appstore" class="glyphicon glyphicon-remove form-control-feedback display-none"></span>
                                </div> -->
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6 box-send-mail-ios">
                                    <div class="form-group div-btn-infobuild">
                                        <div class="pn-email-ios ">
                                            <span class="title-mail-address">Email address</span>

                                        </div>
                                        <div class="desc-email-ios">
                                            <span>Enter your email address to receive the download file from DeployApp</span>
                                        </div>
                                        <div id="custom-input-email">
                                            <input type="text" class="form-control input-email-ios" id="email" name="email" placeholder="Enter your email..." value="" autocomplete="off">
                                            <!-- <img src="/themes/img/iconemail.png" alt="send email" id=""> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group div-btn-infobuild">
                                    <div class="">
                                        <!-- <input type="button"  value="Build android" class="btn btn-primary"> -->
                                        <!-- onclick="send_ajax_build_ios()" -->
                                        <button type="button" id="btn-deploy-ios" class="btn btn-lg btn-infobuild">DEPLOY →</span></button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                    <!-- Close form -->

                </div>

            </div>
        </div>
    </div>

    <% include footer%>