<% include header%>
    <!-- Dialog Notifi -->
    <div id="dialog-noti-info-android">
        <div class="content-noti-info-android">
            <div class="head-noti-info-build">
                <div class="text-title-review">Review</div>
            </div>
            <div class="text-noti-info-build">
                <table>
                    <tr class="line-height-tr">
                        <td class="value-info-build-noti">Password</td>
                        <td class="td-padding-review"><span id="noti-text-password"></span></td>
                    </tr>
                    <tr class="line-height-tr">
                        <td class="value-info-build-noti">First and last name</td>
                        <td class="td-padding-review"><span id="noti-text-CN"></span></td>
                    </tr>
                    <tr class="line-height-tr">
                        <td class="value-info-build-noti">Organizational unit</td>
                        <td class="td-padding-review"><span id="noti-text-OU"></span> </td>
                    </tr>
                    <tr class="line-height-tr">
                        <td class="value-info-build-noti">Organizational</td>
                        <td class="td-padding-review"><span id="noti-text-O"></span></td>
                    </tr class="line-height-tr">
                    <tr class="line-height-tr">
                        <td class="value-info-build-noti">City or location</td>
                        <td class="td-padding-review"><span id="noti-text-L"></span></td>
                    </tr>
                    <tr class="line-height-tr">
                        <td class="value-info-build-noti">State or Province</td>
                        <td class="td-padding-review"><span id="noti-text-ST"></span></td>
                    </tr>
                    <tr class="line-height-tr">
                        <td class="value-info-build-noti">Two-letter country</td>
                        <td class="td-padding-review"><span id="noti-text-C"></span></td>
                    </tr>
                    <tr class="line-height-tr">
                        <td class="value-info-build-noti">Alias name</td>
                        <td class="td-padding-review"><span id="noti-text-Alias"></span> </td>
                    </tr>
                </table>
                <!-- <span class="value-info-build-noti">Password:&nbsp; </span><span id="noti-text-password"></span><br>
                <span class="value-info-build-noti">First and last name:&nbsp; </span><span id="noti-text-CN"></span><br>
                <span class="value-info-build-noti">Organizational unit:&nbsp; </span><span id="noti-text-OU"></span><br>
                <span class="value-info-build-noti">Organizational:&nbsp; </span><span id="noti-text-O"></span><br>
                <span class="value-info-build-noti">City or location:&nbsp; </span><span id="noti-text-L"></span><br>
                <span class="value-info-build-noti">State or Province:&nbsp; </span><span id="noti-text-ST"></span><br>
                <span class="value-info-build-noti">Two-letter country:&nbsp; </span><span id="noti-text-C"></span><br>
                <span class="value-info-build-noti">Alias name:&nbsp;  </span><span id="noti-text-Alias"></span></span><br> -->
            </div>
            <div class="box-btn-info-android">
                <div class="content-bottom-noti-info">
                    <button type="button" class="btn btn-ok-info-android" id="btn-ok-noti-success-android">
                                OK
                    </button>
                    <button type="button" class=" btn-cancel-info-android btn" id="btn-cancel-noti-info-android">
                                    Cancel
                    </button>
                </div>

            </div>

        </div>
    </div>
    <!-- Close dialog notifi -->

    <!-- <div id="loading" style="display:none"></div> -->
    <div class="container">
        <div class="stepProcess">
            <ul class="steps">
                <li class="step completed">
                    <div class="step-info">
                        <span class="step-name">Upload Source</span>
                    </div>
                </li>

                <li class="step completed">
                    <div class="step-info">
                        <span class="step-name">Setting Your App</span>
                    </div>
                </li>
                <li class="step completed">
                    <div class="step-info">
                        <span class="step-name">Choose Platforms</span>
                    </div>
                </li>
                <li class="step active">
                    <div class="step-info">
                        <span class="step-name">Customization</span>
                    </div>
                </li>

            </ul>
        </div>
        <div class="row">
            <div class="col-md-12 info-build-content">
                <!-- <span class="text-custom-build">Customization</span> -->
                <div class="error-all">
                    <div><span class="help-block" id="error"></span></div>
                </div>
                <div class="title-build-sign-android">
                    <span class="title-build-app">Sign Android Application</span>
                </div>

                <div class="info-form-build">
                    <!-- Open form -->
                    <div class="row">

                        <div id="tab" class="btn-group btn-group-justified tab-title-build" data-toggle="buttons">

                            <a href="#build-new-app" class="btn btn-default active btn-build-new-app-title" data-toggle="tab">
                                <input type="radio" />New
                            </a>
                            <a href="#build-update-app" class="btn btn-default btn-build-update-app-title" data-toggle="tab">
                                <input type="radio" />Update
                            </a>

                        </div>
                    </div>
                    <div id="tab-content" class="tab-content content-build-android">
                        <div id="build-new-app" class="tab-pane active">
                            <form class=" form " method="POST ">
                                <div class="row ">
                                    <input type="hidden" id="keyID" name="keyID" value="<%=sKeyFolder%>">
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback input-error">
                                            <label class="control-label"> Create a secure password for your keystore *</label>
                                            <input class="form-control input-form-info" placeholder="" type="password" displaytext=" Key Store Password" id="keystore" name="keystore" value="" />
                                            <span class="form-control-feedback" aria-hidden="true">
                                                 <img class="seticoneye-build iconerr" id="icon-eye-build" src="/themes/img/login/iconeye1.png" alt="deployapp.net" >
                                                 <img class="seticoneye-build iconerr" id="icon-eye-hide-build" src="/themes/img/login/iconeyehide.png" alt="deployapp.net" >
                                            </span>
                                            <span id="icon-err-keystore" class="glyphicon glyphicon-err form-control-feedback display-none"></span>
                                        </div>
                                        <div class="form-group has-feedback input-error">
                                            <label class=" control-label"> Confirm a secure password for your keystore * </label>
                                            <div class="">
                                                <input class="form-control input-form-info" type="password" placeholder="" displaytext="Key Store Confirm Password " id="confirmkeystore" name="confirmkeystore" value="" />
                                                <span id="icon-err-confirmkeystore" class="glyphicon glyphicon-err form-control-feedback display-none"></span>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback input-error">
                                            <label class=" control-label"> First and last name * </label>
                                            <div class="">
                                                <input class="form-control input-form-info" type="text" id="CN" placeholder="" displaytext="First and last name" name="CN" value="" />
                                                <span id="icon-err-CN" class="glyphicon glyphicon-err form-control-feedback display-none"></span>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback input-error">
                                            <label class="control-label">  Organizational unit * </label>
                                            <div class="">
                                                <input class="form-control input-form-info" type="text" id="OU" placeholder="" displaytext="Organizational unit" name="OU" value="" />
                                                <span id="icon-err-OU" class="glyphicon glyphicon-err form-control-feedback display-none"></span>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback input-error">
                                            <label class=" control-label">  Organizational * </label>
                                            <div class="">
                                                <input class="form-control input-form-info" type="text" id="O" placeholder="" displaytext="Organizational" name="O" value="" />
                                                <span id="icon-err-O" class="glyphicon glyphicon-err form-control-feedback display-none"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group has-feedback input-error">
                                            <label class=" control-label"> City or location * </label>
                                            <div class="">
                                                <input class="form-control input-form-info" type="text" id="L" placeholder="" displaytext="City or location" name="L" value="" />
                                                <span id="icon-err-L" class="glyphicon glyphicon-err form-control-feedback display-none"></span>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback input-error">
                                            <label class=" control-label"> State or Province *</label>
                                            <div class="">
                                                <input class="form-control input-form-info" type="text" id="ST" placeholder="" displaytext="State or Province" name="ST" value="" />
                                                <span id="icon-err-ST" class="glyphicon glyphicon-err form-control-feedback display-none"></span>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback input-error">
                                            <label class=" control-label"> Two-letter country *</label>
                                            <div class="">
                                                <input type="text" class="form-control input-form-info" id="C" placeholder="" displaytext="Two-letter country" name="C" value="" />
                                                <span id="icon-err-C" class="glyphicon glyphicon-err form-control-feedback display-none"></span>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback input-error">
                                            <label class=" control-label"> Alias name *</label>
                                            <div class="">
                                                <input type="text" class="form-control input-form-info" placeholder="" displaytext="Alias name" id="alias" name="alias" value="" />
                                                <span id="icon-err-alias" class="glyphicon glyphicon-err form-control-feedback display-none"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group div-btn-infobuild">
                                            <div class="">
                                                <!-- <input type="button"  value="Build android" class="btn btn-primary"> -->
                                                <!-- onclick="send_ajax_build_android()" -->
                                                <button type="button" id="btn-deploy-android" class="btn btn-lg btn-infobuild">DEPLOY</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="build-update-app" class="tab-pane  content-build-update-app">
                            <div class="row content-form-build-update">
                                <div class="col-md-12">
                                    <div class="form-group has-feedback">
                                        <div class="title-choose-file-provision">
                                            <label class="control-label label-input-file"> KeyStore file to update *</label>
                                        </div>
                                        <div class="">
                                            <input type="hidden" id="keyIDFolder" name="keyIDFolder" value="<%=sKeyFolder%>">
                                            <label class="custom-file-upload">
                                                                <!-- <i class="fa fa-cloud-upload"></i>  -->
                                                                <input class="form-control input-file-build-ios input-form-info" type="file" displaytext="keystore" id="keystore-update" name="keystore-update" value="" accept=".keystore"/>
                                                             <img src="/themes/img/icon-choose-file.png" class="img-choose-file-ios" alt="choose file"> &nbsp; <span  class="text-choose-file"> Choose a File</span>
                                                        </label>
                                            <span class="extnamefile" id="text-file-profile-appstore">&nbsp;&nbsp;*.keystore</span>
                                        </div>
                                        <span id="icon-err-adhoc" class="glyphicon glyphicon-remove form-control-feedback display-none"></span>
                                    </div>

                                    <div class="form-group has-feedback input-error">
                                        <label class="control-label"> Password for your keystore *</label>
                                        <input class="form-control input-form-info" placeholder="" type="password" displaytext=" Key Store Password" id="password_keystore" name="password_keystore" value="" />
                                        <span class="form-control-feedback" aria-hidden="true">
                                                 <img class="seticoneye-build iconerr" id="icon-eye-build-update" src="/themes/img/login/iconeye1.png" alt="deployapp.net" >
                                                 <img class="seticoneye-build iconerr" id="icon-eye-hide-build-update" src="/themes/img/login/iconeyehide.png" alt="deployapp.net" >
                                            </span>
                                        <span id="icon-err-password-keystore" class="glyphicon glyphicon-err form-control-feedback display-none"></span>
                                    </div>
                                    <!-- sss -->
                                    <!-- <div class="form-group has-feedback input-error">
                                        <label class=" control-label"> password for your keystore *</label>
                                        <div class="">
                                            <input type="text" class="form-control input-form-info" id="password_keystore" placeholder="" displaytext="Password keystore" name="password_keystore" value="" />
                                            <span id="icon-err-password-keystore" class="glyphicon glyphicon-err form-control-feedback display-none"></span>
                                        </div>
                                    </div> -->
                                    <!-- fff -->
                                    <div class="form-group has-feedback input-error">
                                        <label class="control-label"> Alias name *</label>
                                        <div class="">
                                            <input type="text" class="form-control input-form-info" id="alias_name" placeholder="" displaytext="Alias" name="alias" value="" />
                                            <span id="icon-err-alias-name" class="glyphicon glyphicon-err form-control-feedback display-none"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="">
                                            <!-- DEmo modal -->

                                            <!-- Close Demo Modal -->
                                            <!-- <input type="button"  value="Build android" class="btn btn-primary"> -->
                                            <!-- onclick="send_ajax_build_ios()" -->
                                            <!-- → -->
                                            <button type="button" id="btn-build-android-update" class="btn btn-lg btn-infobuild">DEPLOY</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Close form -->

                    <!-- dff -->
                </div>

            </div>
        </div>
    </div>

    <% include footer%>