<%include header%>

    <div class="container text-static">
        <header class="entry-header contact-title">
            <h1 class="entry-title">Contact Us</h1>
        </header>
        <!-- .entry-header -->
        <div class="entry-content contact-content">
            <p class="mail-contact-us">Email: contact@taydotech.com</p>
            <!-- <p>Phone: (+84) 985-685-218</p> -->
            <p>Address: Mo Lao – Ha Dong – Ha Noi – &nbsp;Viet Nam</p>
        </div>
        <!-- .entry-content -->
    </div>

    <%include footer%>