<%include header%>

    <div id="faqs" class="container">
        <div class="content-faqs">
            <div class="title-faq">
                <span class="text-title-faq">Frequently Asked Questions (FAQs)</span>
            </div>
            <div class="faqs-questions">
                <a href="#body" class="btn btn-lg btn-info btn-back-home"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
                <ul class="ul-questions">
                    <li class="li-questions"><a href="#questions-one">1. Do I have to pay any fee to use this tool?</a></li>
                    <li class="li-questions"><a href="#questions-two">2. Can I use this tool to build other Cordova-based applications such as phonegap, Framework7…?</a></li>
                    <li class="li-questions"><a href="#questions-three">3. What is an APK-debug file?</a></li>
                    <li class="li-questions"><a href="#questions-four">4. What is an APK-signed file?</a></li>
                    <li class="li-questions"><a href="#questions-five">5. After I have an APK-signed file, how can I upload my mobile application on Google Play?</a></li>
                    <li class="li-questions"><a href="#questions-six">6. Does this tool change or add any file into the source code of the mobile application?</a></li>
                    <li class="li-questions"><a href="#questions-seven">7. Does this tool save my source code or files?</a></li>
                    <li class="li-questions"><a href="#questions-eight">8. Can this tool be used to build mobile applications for iOS from IONIC, Cordova?</a></li>
                    <li class="li-questions"><a href="#questions-nine">9. After completing the tool to build applications for Android, iOS; what is the development plan of the website?</a></li>
                    <li class="li-questions"><a href="/guide/register-an-app-id" target="_blank">10. How to register an app id?</a></li>
                    <li class="li-questions"><a href="/guide/register-device-for-testing" target="_blank">11.How to register device for testing?</a></li>
                    <li class="li-questions"><a href="/guide/create-a-p12-certificate" target="_blank">12. How to create a p12 certificate?</a></li>
                    <li class="li-questions"><a href="/guide/create-ad-hoc-provision-file" target="_blank">13. How to create ad hoc provision profile?</a></li>
                    <li class="li-questions"><a href="/guide/create-app-store-provision-file" target="_blank">14. How to create store provision profile?</a></li>
                </ul>
            </div>
            <div class="faqs-asked">
                <section id="questions-one">
                    <div class="questions-all">
                        <div class="title-questions">
                            <span>1. Do I have to pay any fee to use this tool?</span>
                        </div>
                        <div class="content-questions">
                            <p class="">No, this is a free tool. You do not need to register, login or pay any fee to use this tool.</p>
                        </div>
                    </div>
                </section>
                <section id="questions-two">
                    <div class="questions-all">
                        <div class="title-questions">
                            <span>2. Can I use this tool to build other Cordova-based applications such as phonegap, Framework7…?</span>
                        </div>
                        <div class="content-questions">
                            <p class="">No, this tool is only used to build projects and applications written in IONIC language or original Cordova</p>
                        </div>
                    </div>
                </section>
                <section id="questions-three">
                    <div class="questions-all">
                        <div class="title-questions">
                            <span>3. What is an APK-debug file?</span>
                        </div>
                        <div class="content-questions">
                            <p class="">APK-debug (or yourapp-debug.apk) is a source code which has been complied into a complete application under the format of a *.apk file. You can download this APK-debug file to your Android phone, click on the file to install
                                the application directly on your Android phone without going through application stores such as Google Play or Amazon App Store…</p>
                            <p> The purpose of APK-debug file is to allow developers to test their applications on real phones and to check the functions of the application before uploading them on application stores such as Google Play, Amazon App Store…</p>
                            <p> cannot be uploaded on application stores such as Google Play or Amazon App Store…</p>

                        </div>
                    </div>
                </section>
                <section id="questions-four">
                    <div class="questions-all">
                        <div class="title-questions">
                            <span>4. What is an APK-signed file?</span>
                        </div>
                        <div class="content-questions">
                            <p>APK-signed (or yourapp-signed.apk or yourapp.apk) is a complete application which has been signed basing on your personal information. The source code in APK-signed file is codified according to your information; no one can
                                change it including yourself.</p>

                            <p>You use APK-signed.apk to upload on application stores such as Google Play and Amazon App Store from your own account. After your applications have been uploaded on Google Play, any Android user can download them and install
                                them on their phones, like other normal applications.</p>
                        </div>
                    </div>
                </section>
                <section id="questions-five">
                    <div class="questions-all">
                        <div class="title-questions">
                            <span>5. After I have an APK-signed file, how can I upload my mobile application on Google Play?</span>
                        </div>
                        <div class="content-questions">
                            <p class="">To upload your applications on Google Play, you need to register a Google Play Developer account at: <a href="https://play.google.com/apps/publish/signup/"> https://play.google.com/apps/publish/signup/</a></p>
                            <p>After you have registered an account, you can upload your APK-signed file from your account. It will take Google 1-2 days to identify whether your application violates any copyright or contents before allowing it to be displayed
                                on Google Play. You can track the status of your application at any time from your Google Play Developer account.</p>
                            <p>After this period of time, Google will send you an email, notifying you of the status of your application, whether it is denied or allowed to be displayed on Google Play. If it is allowed on Google Play, you can download it
                                from any Android phone like a normal application.</p>
                        </div>
                    </div>
                </section>
                <section id="questions-six">
                    <div class="questions-all">
                        <div class="title-questions">
                            <span>6. Does this tool change or add any file into the source code of the mobile application?</span>
                        </div>
                        <div class="content-questions">
                            <p class="">No, this tool only helps to pack the source code of your application into *.apk files (for android) or *.ipa files (for iOS). We do not change or add any file into your mobile application. </p>

                        </div>
                    </div>
                </section>
                <section id="questions-seven">
                    <div class="questions-all">
                        <div class="title-questions">
                            <span>7. Does this tool save my source code or files?</span>
                        </div>
                        <div class="content-questions">
                            <p class="">No, we don’t save any source code or file that you upload on our website.</p>

                        </div>
                    </div>
                </section>
                <section id="questions-eight">
                    <div class="questions-all">
                        <div class="title-questions">
                            <span>8. Can this tool be used to build mobile applications for iOS from IONIC, Cordova?</span>
                        </div>
                        <div class="content-questions">
                            <p class="">Yes, we are developing and upgrading this tool to be used for iOS. And of course it will be free as it currently is for Android. </p>

                        </div>
                    </div>
                </section>
                <section id="questions-nine">
                    <div class="questions-all">
                        <div class="title-questions">
                            <span>9. After completing the tool to build applications for Android, iOS; what is the development plan of the website?</span>
                        </div>
                        <div class="content-questions">
                            <p class="">After finishing the tool to build applications, we will continue to upgrade other functions for website, including:</p>
                            <ul class="ul-text-content">
                                <li><span>Allowing member registration and login; allowing members to manage their applications, their upload files and different versions of the mobile application.</span></li>
                                <li><span> Supporting the upgrade of mobile applications to higher versions.</span></li>
                                <li><span> Counting number of visits to the website and analyzing users’ activities in each application and each page of the mobile application.</span></li>
                                <li><span> Supporting the sending of notification messages in the application on our platform without using onesignal.com</span></li>
                                <li><span> Tracking and counting orders from mobile, the number of notifications sent and received; measuring and analyzing the conversion rate into orders basing the number of notifications sent.</span></li>
                                <li><span>Maximizing the performance of each mobile application; using configurations, customizing applications without interfering the source codes; you don’t need to know programming to customize your mobile applications. </span></li>
                            </ul>

                        </div>
                    </div>
                </section>


            </div>
        </div>

    </div>

    <%include footer%>