<%include header%>

    <div class="container">
        <div class="content-guide">
            <div class="title-head-guide">
                <span>Register Device for Testing</span>
            </div>
            <div class="content-body-guide">
                <span>To run your app on device during the development process, you need to build and code sign the app with a development provisioning profile or with an Ad Hoc distribution provisioning profile that includes the device. The provisioning profile must <b>include the device that you wish to test</b> on. To include a device in a provisioning profile, you need to register it in the <b>Apple Member Center</b>.</span>
            </div>
            <div class="title-head-sub">Prerequisites</div>
            <div class="content-body-guide">
                <ul class="ul-text-content">
                    <li><span>Verify that you are logged in the <b>Apple Member Center</b> at here<a href="https://developer.apple.com/account/" target="_blank"> https://developer.apple.com/account/</a>
                     </span></li>
                    <li><span>Verify that you have obtained the <b>UDID</b> of your iPhone, you should get UDID at here: <a href="http://get.udid.io/" target="_blank">http://get.udid.io/</a> or Open the site udid.io in Safari on your iPhone or iPad</span></li>
                </ul>
            </div>
            <div class="title-head-sub">Procedure</div>
            <div class="content-body-procedure">
                <ul class="ul-text-content-guide">
                    <li><span> 1. Run Google Chrome, Mozilla Firefox, or Safari.</span></li>
                    <li><span> 2. In the Apple Member Center, click <b>Certificates, Identifiers & Profiles</b></span></li>
                    <li><span> 3. In the drop-down menu in the top left corner, verify that <b>iOS, tvOS, watchOS</b> is selected.</span></li>
                    <li><span> 4. In the left-hand sidebar, select <b>Devices → All.</b> </span></li>
                    <li><span> 5. Click + in the top right corner. </span></li>
                    <li><span> 6. Provide a name for the device, UDID of the device.</span></li>
                    <li> <img src="/themes/img/post/13_ios_adddevice_onportal_2x.png" alt="register an app id" width="673" height="425"></li>
                    <li><span> 7. Click <b>Continue</b>.</span></li>
                    <li><span>8. Review the details for your device and click <b>Register</b> to confirm the registration.</span></li>
                </ul>

            </div>

        </div>
    </div>
    <%include footer%>