<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <p>
        Dear Valued Customer,
    </p>
    <p>The deploy of your app has completed.
    </p><br>
    <span> App Name: {{App}}</span><br>
    <span> Deployed Date: {{sDate}} (UTC+0)</span> <br>

    <span> Download and Test it on your iOS devices which registed UIID: </span><br>
    <a href="{{linkAppUnsigned}}">{{linkAppUnsigned}}</a><br>
    <span> Download and Upload your app to Apple Store: </span><br>
    <a href="{{linkAppSigned}}">{{linkAppSigned}}</a>


    <p>If you have any questions about to the deploy of your app, use the Contact Us on
        <a href="http://deployapp.net/contact-us">http://deployapp.net/contact-us</a> </p>
    <p>Regards,<br> The DeployApp.net Team.</p>
</body>

</html>