<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <p>
        Dear Valued Customer,
    </p>
    <p>The deploy of your app has completed. You can download APK signed file and upload it to Google Play now.
    </p><br>
    <span> Name: {{App}}</span><br>
    <span> Deployed Date: {{sDate}} (UTC+0)</span> <br>
    <span> APK debug File: </span><br>
    <a href="{{linkAppDebug}}">{{linkAppDebug}}</a><br>
    <span> APK Signed File: </span><br>
    <a href="{{linkAppSigned}}">{{linkAppSigned}}</a>
    <p>If you have any questions about to the deploy of your app, use the Contact Us on
        <a href="http://deployapp.net/contact-us">http://deployapp.net/contact-us</a> </p>
    <p>Regards,<br> The DeployApp.net Team.</p>
</body>

</html>