<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body style="font-family: arial;">
    <div style=" width: 60%; margin-left: 20%;">
        <img src="https://s19.postimg.org/p2snmvncj/logo-appbuilder5.png">
        <br>
        <br>
        <p>
            Hi
            <b>{{name}}
            </b>,
        </p>
        <p>Thanks for signing up for your
            <b>Deploy App</b> account! Please verify your email using the link below and get started building apps today!
        </p>
        <br>
        <a href="{{link}}" style="text-decoration: none; padding: 15px;background: rgb(79, 142, 247); color: white; border-radius: 3px;">
            <b>Verify your email</b>
        </a>
        <br>
        <br>
        <p>Best regards,
            <br> The
            <b>Deploy App</b> Team</p>
    </div>
</body>

</html>