<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body style="font-family: arial;">
    <div style=" width: 60%; margin-left: 20%;">
        <img src="https://s19.postimg.org/p2snmvncj/logo-appbuilder5.png">
        <br>
        <br>
        <p>
            Dear
            <b>{{name}}</b>,
        </p>
        <p>It looks like we've received a password reset request for the
            <b>Deploy App</b> account tied to this email. To reset your password,just click the link below!
        </p>
        <p>
            If you did not make this request, you are free to ignore this email.
        </p>
        <br>
        <a href="{{link}}" style="text-decoration: none ; padding: 15px;background: rgb(79, 142, 247); color: white; border-radius: 3px;">
            <b>Reset your password</b>
        </a>
        <br>
        <br>
        <p>Best regards,
            <br> The
            <b>Deploy App</b> Team</p>
    </div>
</body>

</html>