<html>

<head>
    <title>
        Maintenance - DeployApp.net
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free Tools for deploy your mobile application. The Easiest Mobile App Builder">
    <meta name="author" content="TaydoTech">
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="maintaince.css" />
</head>

<body>
    <div class="navbar">
        <nav class="navbar navbar-default " rol="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle btn-toggle-menu" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand topnav logo-home" href="javascript:void(0)"><img class="img-responsive" src="logo-appbuilder.svg" /></a>
                </div>

                <div class="collapse navbar-collapse top-menu-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a target="blank" href="https://taydoapp.com">Support</a>
                        </li>

                    </ul>
                </div>

            </div>
        </nav>

    </div>

    <div id="deploy-content">
        <div class="wrap">
            <div class="content-maintaince">
                <div class="logo">
                    <img src="maintaince.svg" alt="maintaince">
                </div>
                <div class="sub-404">
                    <span class="maintaince-char">Sorry, we’re down for maintenance</span>
                    <p class="note-maintaince">We’ll be back shortly.</p>
                </div>
            </div>

        </div>

    </div>

    <div class="footerBottomSection">
        <div class="container ">
            &copy; 2017, Tây Đô Technology, All right reserved.
        </div>
    </div>

</body>

</html>