<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Paypal</title>
</head>

<body>
    <form action="/paymentpaypal" method="POST">
        <h1>Deployapp</h1>
        <span>Prive:</span>
        <input readonly type="text" value="30" name="amountnew">
        <input type="submit" value="buy">
    </form>
</body>

</html>